manual/ewd/dtd/difference.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- #  DTD VERSION 1.7  UPDATE Dec. 04, 2014    -->
<!ELEMENT tmc-service-difference (pub)>
<!ELEMENT pub (release)>
<!ATTLIST pub
	id ID #REQUIRED
>
<!ELEMENT release (term)>
<!ATTLIST release
	send-date CDATA #REQUIRED
>
<!ELEMENT term (changed-file+)>
<!ATTLIST term
	alt-pub-id CDATA #REQUIRED
	date CDATA #REQUIRED
	term-id-from CDATA #REQUIRED
>
<!ELEMENT changed-file (#PCDATA)>
<!ATTLIST changed-file
	filename CDATA #REQUIRED
	type CDATA #REQUIRED
>
