manual/brm/dtd/media-release.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- #  DTD VERSION 1.5  UPDATE May. 22, 2013    -->
<!ELEMENT tmc-service-media (media-release, media-lang)>
<!ELEMENT media-release EMPTY>
<!ATTLIST media-release
	date CDATA #REQUIRED
>
<!ELEMENT media-lang EMPTY>
<!ATTLIST media-lang
	lang CDATA #REQUIRED
>
